<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed%7CMontserrat+Alternates" rel="stylesheet">
	<title>
	</title>
</head>
<body>
	<h1>Edit Workout </h1>
    <nav>
        <ul>
          <li>
            <a href="/user/index">Back to List of Workouts</a>
          </li>
        </ul>
      </nav>
      <h3> Currently Viewing <a href="/workout/<%workout.id%>"><%=workout.id.name%></a> </h3>
  <main>
    <form method="POST" action="/workout/<%=workout.id%>?_method=PUT">
      Name: <input type="text" name="name" value="<%workout.name%>" /><br/><br/>
      Category: <input type="text" name="category" value="<%workout.category%>"/><br/><br/>
      Training Phase: <input type="text" name="trainingPhase" value="<%workout.trainingPhase%>"/><br/><br/>
      Sets: <input type="text" name= "sets" value="<%workout.sets%>"/><br/><br/>
      Reps: <input type="text" name="reps" value="<%workout.reps%>"/><br/><br/>
      Exercises: <input type="text" name="exercises" value="<%workout.exercises%>"/><br/><br/>
      <input type="submit" value="Submit Changes"/>
    </form>
    </main>   
<footer>
  <ul>
    <li class="nav-item">
        <a class="nav-link active copyright">Copyright 2018</a>
      </li>
  </ul></br>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>