<!DOCTYPE html>
<html>
<head>	
	<title>
	</title>
</head>
<body>
 
  <main>
	<h1>Exercise Index Page</h1>
	<h3>CLICK on an EXERCISE to ADD it to your WORKOUT</h3>
<!-- click on exercises store all clicks(data) in array and push that array to to workout schema -->

		<ul>
			<% for(let i = 0; i < exercise.length; i++){ %>
            <li>
			<a href="/exercise/<%=exercise[i].id%>"><%=exercise[i].name%></a>
			<!-- below is the route the exercise takes to get to workout/show.ejs -->
			<form method="POST" action="/exercise/<%= exercises[i].id%>/add-to-workout" >
			<input type="submit" value="Add To Workout"/>
			</form>
            </li><br/>
            <% } %>
        </ul>
        <!-- i added the line below to have the ability to go back to the show page and it is not working -->
        
	</main>

</body>
</html>