<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
</head>
<body>
	<h1>Exercise Index Page</h1>
	<h3>CLICK on an EXERCISE to ADD it to your WORKOUT</h3>
<!-- click on exercises store all clicks(data) in array and push that array to to workout schema -->


	<ul>
		<li>
			squat <button type="submit">ADD</button> 	 
		</li>
		<li>
			lunge <button type="submit">ADD</button>
		</li>
		<li>
			push up <button type="submit">ADD</button> 
		</li>
		<li>
			pull up <button type="submit">ADD</button> 
		</li>
		<li>
			jefferson curl <button type="submit">ADD</button>
		</li>
		<li>
			german arm swings <button type="submit">ADD</button>
		</li>
		<li>
			plank <button type="submit">ADD</button>
		</li>
	</ul>

</body>
</html>