<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
</head>
<body>
	<h1>This is the New Exercise Page</h1>
	<main>
  		<form action="/exercise" method="POST">

      		Name: <input type="text" name="name" value="<%exercise.name%>" /><br/><br/>
			
      		<input type="submit" value="Create Exercise"/><br/>
  		</form>
  	</main></br>

</body>
</html>