<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
</head>
<body>
	<h1>This Exercise Description (Show) Page</h1>
	<main>
    <h1><%=exercise.name%> - Details:</h1></br>
  	<p><h1><%=exercise.photo%> ***this is PHOTO***</h1></p></br>
	<p><h1><%=exercise.video%> ***this is VIDEO***</h1></p></br>


  </main>

</body>
</html>